body {
  background-image: url("Assets/Background.png");
  background-size: cover;
}

.container {
  height:90vh;
}

.header {
  border-radius: 10px 10px 0 0;
  height: 20vh;
  background-color:rgb(0, 81, 255);
  background-image: url("Assets/Pattern.png");
}

.bottom-container {
  height: 42vh;
  width: 40%;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;

}
.text {
  text-align: center;
}

.header-text {
  width: 55%;
  font-size: 145%;
  color:white;
}

p {
  color: gray;
}

.form-control {
  flex:2;
}

.btn {
  flex:1;
}

