body {
  background-image: url("Assets/Background.png");
  background-size: cover;
}

.container {
  height:90vh;
}

.header {
  border: 2px solid black;
  border-radius: 10px 10px 0 0;
  height: 20vh;
  background-color: blue;
}

.bottom-container {
  border: 2px solid black;
  height: 40vh;
  width: 40%;

}

.header-text {
  width: 55%;
  font-size: 145%;
  color:white;
}

p {
  color: gray;
}

