body {
  background-color: red;
}

.container {
  height:90vh;
}

.header {
  border: 2px solid black;
  border-radius: 10px 10px 0 0;
  height: 10vh;

}

.bottom-container {
  background-color: red;
  height: 40vh;
  position: absolute;
  top:50%;
  left:50%;
}
